darkest = #222
dark = #333
light = #ddd
lightest = #eee

html
    background-color darkest
    color light
    text-align center

html, body, div#app, div#a
    height 100%

body
    margin 0px

div#app
    display flex
    flex-direction column

div#paper
    background-color dark
    color lightest
    padding 32px
    margin 32px
    box-shadow 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4)

div#text
    text-align initial
    position relative

div#cursor
    position absolute
    background-color lightest
    color dark

div#error
    color red
